<!DOCTYPE>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <title>
            Sport Almanach
        </title>
    </head>
    <body style="background-color:lightsteelblue;">
        <div class="container" ng-controller="appCtrl as ctrl">
            <center><img src="almanach-banner.jpg"></img></center>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="field in ctrl.fields">
                            {{field.label}}
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tr>{{ctrl.contact}}
                    <td ng-repeat="field in ctrl.fields">
                        <input ng-model="ctrl.record[field.key]" type="{{field.type}}" class="form-control" placeholder="{{field.label}}"/>
                    </td>
                    <td>
                        <button ng-click="ctrl.saveRecord()" class="btn btn-primary">Save</button>
                        <button ng-click="ctrl.cancelEdit()" class="btn btn-warning">Cancel</button>
                    </td>
                </tr>
                <tr ng-repeat = "record in ctrl.records">
                    <td ng-repeat="field in ctrl.fields">
                        {{record[field.key]}}
                    </td>
                    <td>
                        <span ng-click="ctrl.editRecord(record)" class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right: 10px;"></span>
                        <span ng-click="ctrl.deleteRecord(record._id)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </td>
                </tr>
            </table>
        </div>
        <script src="js/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="js/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
